.bgColor{
  margin: 10px;
  background: #ebebeb;
}
.personal_img{
  display: inline !important;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.infoPerson{
  display: inline-block;
  margin: 0;
}
.text{
  color: #4a4a4a;
}
.wrapper_announce{
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 370px;
  width: 270px;
  padding-top: 20px;
  position: relative;
  display: block;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  color: #464646;
}
.info{
  overflow-x:hidden;
  color: white;
  padding: 15px 20px;
  text-align: left;
  display: none;
}
.info hr{
  margin-bottom: 5px;
  color: white;
  border-color: white;
}
.wrapper_announce:hover{
  color: #464646;
  text-decoration: none;
}
.wrapper_announce:hover .info {
  display: block !important;
  top: 0;
  left: 0;
  position: absolute;
  height: 370px;
  width: 270px;
  font-size: 30px;
  background: rgba(250,186,80,0.75);
  text-decoration: none;
}
.wrapper_announce img{
  display: inline !important;
  border-radius: 100%;
  width: 75%;
  height: 60%;
}

.wrapper_announce h2{
  color: #17cf75;
  font-size: 32px;
}
.wrapper_announce h3{
  color: #464646;
  font-size: 26px;
}
.info h2{
  color: white;
  font-size: 28px;
}
.info h3 {
  color: white;
  font-size: 20px;
}
.btn_add {
  background: #17cf75;
  padding: 4px 7px;
  border-radius: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
