<div class="container">
  <div class="row">
    <div class="col-lg-3 infoPerson text-center">
    </div>
    <div class="col-lg-6 infoPerson  text-center">
      <h2 class="text">
        {{info.username}}
      </h2>
    </div>
    <div class="col-lg-3 infoPerson text-center">
      <img src="img/1.jpg" class="personal_img" alt="">
      <h4 class="text">
        Редагувати
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1   col-md  text-center">
      <hr class="line">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md bgColor" *ngFor="let item of announcements">
      <div class="row">
        <a href="" class="wrapper_announce  text-center ">
          <img src="assets/img/1.jpg" class="img_announce" alt="">
          <h2>{{item.title}}</h2>
          <h3>{{item.age}}</h3>
          <h3>{{item.price}}</h3>
          <h3>{{item.status}}</h3>
        </a>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          <button class="btn_add ">
            <span>Редагувати</span>
          </button>
        </div>
        <div class="col-6 text-center">
          <button class="btn_add ">
            <span (click)="delete(item.id)">Видалити</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
