#toTop {
  text-align:center;
  position:fixed;
  bottom:10px;
  right: 30px;
  cursor:pointer;
  display:none;
  color:#ffa827;
  font-size:60px;
}
#toTop:hover{
  color: #a26a17;
}
body {
  font-family: 'Century Gothic', sans-serif !important;
  color: #4a4a4a;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

hr {
  height: 1px;
  color: #acacac;
  margin-top: 10px;
  margin-bottom: 30px;

}

.sticky {
  position: sticky;
  top: 0;
  z-index: 11000;
}

#navbar-my {
  background: #fff;
}
.animal{
  margin-bottom: 20px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbarSupportedContent {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  margin: 10px 0
}

#navbarSupportedContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbarSupportedContent ul li {
  text-align: center;
  position: relative;
  left: -50%;
  float: left;
  margin: 0 10px;
}

#navbarSupportedContent ul li a {
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  font-size: 23px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 15px;
  line-height: 30px;
}

#navbarSupportedContent ul li a:hover {
  background: rgba(16, 155, 87, 0.5);
  color: white;
  text-decoration: none;
}

/*Seond screen*/
.bg_sreen {
  background: url(assets/img/header.png) no-repeat center top;
}

.wrapper-block {
  padding: 225px 0 290px 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}
.btn_friends{
  margin-top: 20px;
}
.btn_friends:hover {
  text-decoration: none;
  color: white;
  background: #109b57;
}
@media screen and (min-width: 1200px) {
  .img_animal{
    margin-top: 20px;
    width: 216px;
    height: 216px;
  }
  .title_friends {
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    text-align: right;
    margin-bottom: 25px;
  }

  .text_friends {
    font-size: 32px;
    color: #fff;
    text-align: right
  }

  .btn_friends {
    background: #17cf75;
    padding: 7px 110px;
    border-radius: 40px;
    border: none;
    font-size: 28px;
    color: #fff;
    margin-top: 40px;
    margin-left: 30px;
  }

}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .img_animal{
    margin-top: 20px;
    width: 175px;
    height: 175px;
  }
  .title_friends {
    font-size: 48px;
    color: #fff;
    font-weight: 500;
    text-align: right;
    margin-bottom: 25px;
  }

  .text_friends {
    font-size: 32px;
    color: #fff;
    text-align: right
  }

  .btn_friends {
    background: #17cf75;
    padding: 7px 70px;
    border-radius: 40px;
    border: none;
    font-size: 22px;
    color: #fff;
    margin-top: 40px;
    margin-left: 50px;
  }

}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .img_animal{
    margin-top: 15px;
    width: 150px;
    height: 150px;
  }
  .title_friends {
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    text-align: right;
    margin-bottom: 25px;
  }

  .text_friends {
    font-size: 26px;
    color: #fff;
    text-align: right
  }

  .btn_friends {
    background: #17cf75;
    padding: 7px 50px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    margin-left: 320px;
  }

}
@media screen and (max-width: 480px) {
  .img_animal{
    margin-top: 15px;
    width: 150px;
    height: 150px;
  }
  .title_friends {
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
  }

  .text_friends {
    font-size: 20px;
    color: #fff;
    text-align: center;
  }

  .btn_friends {
    background: #17cf75;
    padding: 7px 40px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    margin-left: 120px;
  }

}
.bg-footer{
  flex: 0 0 auto;
  background: #616161;
  margin-top: 20px;
}
.myFoo{
  height: 100px;
}
.text_footer{
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  text-align: right;
}
.tx-alg{
  text-align: left;
}

.contact_links, .contact_links-item{
  list-style: none;
}

.links-item-icon {
  margin-top: 20px;
  margin-right: 15px;

  height: 25px;
}

/*Modal */
.title_modalNK{
  margin-top: 30px;
  font-size: 35px;
  font-weight: 500;
}
.title_modalZK{
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
}
.myModal{
  border-radius: 1.5rem;
  text-align: center;
}
.btn_modal{
  text-decoration: none;
  background: #17cf75;
  border-radius: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  color: #fff;
  margin-bottom:20px;
  margin-top: 15px;
  font-size: 25px;
  width: 50%;
}

.btn_modal:hover{
  color: #fff;
  text-decoration: none;
  background: #109b57;
}
.modal-body textarea{
  padding: 15px;
  background-color: #ebebeb;
  border: none;
  width: 80%;
  height: 200px;
  font-size: 18px;
  border-radius: 25px;
}
.btn_modalZK{
  background: #e4b560;
  border-radius: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  color: #fff;
  margin-bottom:20px;
  margin-top: 15px;
  font-size: 25px;
  width: 50%;
}

.btn_modalZK:hover{
  background: #dcaa50;
}
.modalLabel{
  font-size: 23px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  height: 60px;
  padding: 8px 4px;
  text-align: left;
  margin-left: 45px;
}

.file-upload input[type="file"]{
  display: none;
}
.file-upload label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-upload span {
  line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a26a17;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69430a;
}
