<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h3>Ой, лишеньки! Сторінка не знайдена</h3>
      <h1><span>4</span><span>0</span><span>4</span></h1>
    </div>
    <h2>Нам дуже шкода, але такої сторінки нема...</h2>
  </div>
</div>
