<div class="container " *ngIf="authority == 'admin'">
  <div class="row ">
    <div class="col-lg-8 offset-lg-2   col-md  text-center ">
      <h2 class="title_story ">
        <a id="animal">Історії</a>
      </h2>
      <hr class="line_story">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr class="text-center">
      <th scope="col"></th>
      <th scope="col">Автор</th>
      <th scope="col">Опис</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let story of stories">
      <th scope="row"></th>
      <td>{{story.firstName}} {{story.lastName}}</td>
      <td>{{story.description}}</td>
      <td><button class="btn_table" (click)="approve(story)"><span>Підтвердити</span></button></td>
      <td><button class="btn_table" (click)="reject(story)"><span>Відхилити</span></button></td>
    </tr>
    </tbody>
  </table>

  <div class="row ">
    <div class="col-lg-8 offset-lg-2   col-md  text-center ">
      <h2 class="title_story ">
        <a >Оголошення</a>
      </h2>
      <hr class="line_story">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr class="text-center">
      <th scope="col"></th>
      <th scope="col">Автор</th>
      <th scope="col">Назва</th>
      <th scope="col">Опис</th>
      <th scope="col">Ціна</th>
      <th scope="col">Місто</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr *ngFor="let announcement of announcements">
      <th scope="row"></th>
      <td>{{announcement.firstName}} {{announcement.lastName}}</td>
      <td>{{announcement.title}}</td>
      <td>{{announcement.description}}</td>
      <td>{{announcement.price}}</td>
      <td>{{announcement.city}}</td>
      <td><button class="btn_table" (click)="approveA(announcement)"><span>Підтвердити</span></button></td>
      <td><button class="btn_table" (click)="rejectA(announcement)"><span>Відхилити</span></button></td>
    </tr>
    </tbody>
  </table>
</div>
