.title_story{
  margin-top: 35px;
  font-size: 30px;
  font-weight: 500;
}
.btn_table{
  background: #e4b560;
  border-radius: 15px;
  padding: 0.5vmin 3vmin;
  width: 20vmin;
  border: none;
  color: #fff;
  margin-bottom:20px;
  margin-top: 15px;
}

.btn_table:hover{
  background: #dcaa50;

}
.btn_table span{
  display: inline-block;
}
