.btn_story{
  background: #e4b560;
  border-radius: 40px;
  padding: 4px 65px;
  border: none;
  color: #fff;
  margin-bottom:20px;
  margin-top: 15px;
}

.btn_story:hover{
  background: #dcaa50;

}
.bg-color{
  background:rgb(172,172,172, 0.3);
}
.swiper-container {
  width: 80%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
