<section id="friends">
  <div class="container bg_sreen">
    <div class="row">
      <div class="col-lg-5 offset-lg-7  col-md-6 offset-md-6 ">
        <div class="wrapper-block ">
          <h2 class="title_friends">
            ТВІЙ ДРУГ ПОРУЧ
          </h2>
          <p class="text_friends">
            Дім — там, де на тебе чекають.
          </p>
          <a class="btn_friends" href="categories">
            Знайти&nbsp;друга
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Third screen-->
<section id="stories">
  <div class="container bg-color">
    <div class="row">
      <div class="col-lg-8 offset-lg-2   col-md  text-center">
        <h2 class="title_story">
          Щасливі історії
        </h2>
        <hr class="line_story">
      </div>
    </div>
    <div class="row">
      <div class="sl col-lg-4 col-md-4 col-sm-4">
        <div class="sl_slide" *ngFor="let story of stories">
          <h3 class="title_galery">
            {{story.firstName}} {{story.lastName}}
          </h3>
          <p class="text_galery">
            {{story.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div *ngIf="!authority">
          <button class="btn_story " data-toggle="modal" data-target="#addStoryNK">
            <span>Додати свою історію</span>
          </button>
        </div>
        <div *ngIf="authority == 'user'">
          <button class="btn_story " data-toggle="modal" data-target="#addStoryZK">
            <span>Додати свою історію</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Modal NK -->
<div class="modal fade" id="addStoryNK" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content myModal">
      <div class="modal-header ">
        <h3 class="title_modalNK">
          Щоб додати історію
          спочатку авторизуйтесь
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a href="login" class="btn_modal">Вхід</a>
        <a href="signup" class="btn_modal">Зареєструватись</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal ZK -->
<div class="modal fade" id="addStoryZK" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content myModal">
      <div class="modal-header ">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <textarea placeholder="Історія" id="storyText" class="form-control" name="description" id="description"
                      [(ngModel)]="form.description" #description="ngModel" ></textarea>
          </div>
          <div class="form-group">
            <button  class="btn_modalZK">Додати</button>
            <div *ngIf="f.submitted && isAddFailed" >
              Add story failed: {{errorMessage}}
            </div>
            <div *ngIf="isAdded">
              Ваша історія успішно додана!
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Fourth screen-->
<section id="animals">
  <div class="container ">
    <div class="row ">
      <div class="col-lg-8 offset-lg-2   col-md  text-center ">
        <h2 class="title_story ">
          <a id="animal">Вибір домашнього улюбленця</a>
        </h2>
        <hr class="line_story">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4  col-md-4">
        <div class="animal bg-color">
          <div class=" text-center">
            <img src="assets/img/dog.png" class="img_animal" alt="">
            <h3 class="title_img">Собаки</h3>
          </div>
          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/plus.png" width="40" height="30" alt="" class="sing_text ">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                вірні, розумні, віддані друзі.
                Деякі породи мають особливо
                високий рівень інтелекту
                (німецькі вівчарки, ротвейлери).
                Виконують не тільки роль
                домашнього улюбленця, але і
                охороняють житло господаря.
              </p>
            </div>
          </div>

          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/minus.png" width="40" height="30" alt="" class="sing_text pd-top">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                у період зростання і потім просто
                від нудьги можуть гризти меблі,
                домашні речі, взуття. Деякі собаки
                не люблять ходити «в туалет» на
                вулиці, воліючи кут в будинку.
                Знову ж таки від нудьги собака
                може вити, гавкати, що зовсім
                не порадує сусідів. Деякі породи
                собак вибирають собі хазяїна-
                ватажка, і нших членів сім'ї або
                ігнорують, або тероризують
                (наприклад, чау-чау).
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4  col-md-4 ">


        <div class="animal bg-color ">
          <div class=" text-center">
            <img src="assets/img/cat.png" class="img_animal" alt="">
            <h3 class="title_img">Коти</h3>
          </div>
          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/plus.png" width="40" height="30" alt="" class="sing_text">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                вірні, розумні, віддані ласкава тварина, яка гуляє сама по собі. Друг, який любить
                вільні
                відносини. Має лікувальні здібності,
                втім, як і собаки, що підтверджено
                також і лікарями. Гарно ловлять
                мишей, оберігаючи запаси в
                будинку від гризунів.
              </p>
            </div>
          </div>

          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/minus.png" width="40" height="30" alt="" class="sing_text ">
            </div>
            <div class="wrapper_text mrg-bottom">
              <p class="text_descrip ">
                не люблять жити в замкнутому
                просторі, починають хворіти в
                квартирі без вигулу. Гострі кігті і з
                уби часто задіяні і в грі, а це
                небезпечно для дітей занесенням
                інфекції в рани.
              </p>
            </div>
          </div>
        </div>

      </div>


      <div class="col-lg-4  col-md-4 ">
        <div class="animal bg-color">
          <div class=" text-center">
            <img src="assets/img/mouse.png" class="img_animal" alt="">
            <h3 class="title_img">Гризуни</h3>
          </div>
          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/plus.png" width="40" height="30" alt="" class="sing_text">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                німi тихоні-друзі, м'які і пухнасті.
                Займають невеликий простір в
                будинку, мінімум догляду.
                Шиншили щиро прив'язуються
                до людини і люблять його. Вони
                дуже легко йдуть на контакт як з
                дорослими, так і з дітьми. Ці
                тварини, не дивлячись на настільки
                маленькі розміри, мають недюжий
                інтелект.
              </p>
            </div>
          </div>

          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/minus.png" width="40" height="30" alt="" class="sing_text ">
            </div>
            <div class="wrapper_text mrg-bottom1">
              <p class="text_descrip">
                вирвуться на свободу - можуть щось
                погризти. Своїми маленькими
                зубками можуть поранити дитину
                досить сильно. Розміщення тільки в
                клітці або акваріумі, свобода не для
                них. Відносно короткий термін
                життя.
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>


    <div class="row">


      <div class="col-lg-4  col-md-4 ">

        <div class="animal bg-color">
          <div class=" text-center">
            <img src="assets/img/bird.png" class="img_animal" alt="">
            <h3 class="title_img">Птиці</h3>
          </div>
          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/plus.png" width="40" height="30" alt="" class="sing_text">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                кращі вихованці, які мають свій
                характер і можуть сказати "привіт"
                (якщо навчити і вибрати потрібну
                породу). Можуть не тільки стати
                другом дитині, але і прикрасити
                будинок своєю присутністю.
              </p>
            </div>
          </div>

          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/minus.png" width="40" height="30" alt="" class="sing_text pd-top">
            </div>
            <div class="wrapper_text mrg-bottom2">
              <p class="text_descrip ">
                ви чули коли-небудь, як співає
                канарка? Свист по всьому будинку.
                Папуги люблять обгризати кути і
                пінопластові поверхні. Птахи
                досить гучні створення, будьте
                готові, що вранці вас буде будити
                не пристрій, а ваш улюбленець.
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4  col-md-4">
        <div class="animal bg-color">
          <div class=" text-center">
            <img src="assets/img/fish.png" class="img_animal" alt="">
            <h3 class="title_img">Рибки</h3>
          </div>
          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/plus.png" width="40" height="30" alt="" class="sing_text">
            </div>
            <div class="wrapper_text">
              <p class="text_descrip">
                заспокоюють, зачаровують своєю к
                расою і спокоєм. Цікавий факт, що
                людина, яка милується цими
                створіннями, сама того не
                розуміючи заспокоюється, досягає
                душевної рівноваги і спокою
                внутрішнього світу. Саме тому
                акваріумні рибки рекомендовані
                для людей, які страждають
                нервозами або депресією. Але і від
                самого акваріума є користь, він
                коригує клімат в приміщенні.
              </p>
            </div>
          </div>

          <div class="descrip_animal d-flex ">
            <div>
              <img src="assets/img/minus.png" width="40" height="30" alt="" class="sing_text pd-top">
            </div>
            <div class="wrapper_text mrg-bottom2">
              <p class="text_descrip">
                регулярний і трудомісткий догляд.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4  col-md-4">


        <div class="animal bg-color">
          <div class=" text-center">
            <img src="assets/img/snake.png" class="img_animal" alt="">
            <h3 class="title_img">Екзотика</h3>
          </div>
          <div class="descrip_animal d-flex ">

            <div class="wrapper_text">
              <p class="text_descrip">
                Екзотика не всім по кишені, так і
                догляд часто такий же екзотичний,
                як і тварина. Лікуванням таких
                вихованців може займатися не
                кожна веткліника. Найбільш
                поширені екзотичні тварини -
                ігуани, змії, жаби, павуки,
                хамелеони, сови, мавпи.
                Зрозуміло, що не всі вони
                безпечні і вимагають граничної
                обережності при догляді,
                наприклад, отруйні змії і павуки.
                Також екзотична заморська тварина
                може заразити невідомою
                заморською хворобою. Поведінка
                деяких "екзотів" може бути
                неадекватною або навіть
                небезпечнию
              </p>
            </div>
          </div>


        </div>

      </div>
    </div>


  </div>
</section>
