<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="content">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>


