<div *ngIf="isSignedUp; else signupForm">
  Ви успішно зареєструвались. Будь ласка авторизуйтесь!
</div>

<ng-template #signupForm>
  <section id="form">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-3 col-md">


          <h1 class="text_form">Реєстрація</h1>


          <div class="wrapper_form text-right">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="firstName">Ім'я</label>
                  <input type="text" class="input_form form-control" name="firstName" id="firstName" [(ngModel)]="form.firstName"
                         #firstName="ngModel" required />
                  <div *ngIf="f.submitted && firstName.invalid">
                    <div *ngIf="firstName.errors.required">Ім'я є обов'язковим</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="lastName">Прізвище</label>
                  <input type="text" class="input_form form-control" name="lastName" id="lastName"
                         [(ngModel)]="form.lastName"
                         #lastName="ngModel" required />
                  <div *ngIf="f.submitted && lastName.invalid">
                    <div *ngIf="lastName.errors.required">Прізвище є обов'язковим</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="username">Логін</label>
                  <input type="text" class="input_form form-control" name="username" id="username"
                         [(ngModel)]="form.username" #username="ngModel"
                         required />
                  <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Логін є обов'язковим</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="email">Email</label>
                  <input type="text" class="input_form form-control" name="email" id="email"
                         [(ngModel)]="form.email" #email="ngModel" required email />
                  <div *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Email є обов'язковим</div>
                    <div *ngIf="email.errors.email">Email мусить бути коректною</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="phone">Телефон</label>
                  <input type="text" class="input_form form-control" name="phone" id="phone"
                         [(ngModel)]="form.phone" #phone="ngModel"
                         required />
                  <div *ngIf="f.submitted && phone.invalid">
                    <div *ngIf="phone.errors.required">Номер телефону є обов'язковим</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="password">Пароль</label>
                  <input type="password" class="input_form form-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel"
                         required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Пароль є обов'язковим</div>
                    <div *ngIf="password.errors.minlength">Пароль мусить містити не менше символів</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-3 offset-lg-2 col-md">
                    <button class="btn_form">Зареєструватись</button>
                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                      Реєстрація невдала!<br />{{errorMessage}}
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
