
.wrapper_form {
  margin-top: 70px;
}

.text_form{
  text-align:center;
  font-size: 50px;

}

@media screen and (min-width: 1200px) {
  .input_form {
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 35px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 25px;
  }

  .btn_form {
    background: #e4b560;
    border-radius: 40px;
    width: 340px;
    height: 50px;
    margin-right:100px;
    border: none;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }

  .inputLabel {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input_form {
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 35px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 25px;
  }

  .btn_form {
    background: #e4b560;
    border-radius: 40px;
    width: 240px;
    height: 50px;

    border: none;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }

  .inputLabel {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .input_form {
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 30px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .btn_form {
    background: #e4b560;
    border-radius: 40px;
    width: 175px;
    height: 40px;

    border: none;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  .inputLabel {
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
  }
}

@media screen and (max-device-width: 480px) {
  .input_form {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 25px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .btn_form {
    background: #e4b560;
    border-radius: 40px;
    width: 120px;
    height: 30px;

    border: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }

  .inputLabel {
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
  }
}

.form-group {
  display: inline-block;
}

.btn_form:hover {
  text-decoration: none;
}
