<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2   col-md  text-center">
      <h2 class="title">
        {{title}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1   col-md  text-center">
      <hr class="line">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md " *ngFor="let item of announcements">
      <a [routerLink]="item.id" class="wrapper_announce  text-center ">
        <img src="assets/img/1.jpg" class="img_announce" alt="">
        <h2>{{item.title}}</h2>
        <h3>{{item.age}}</h3>
        <h3>{{item.price}}</h3>
        <div class="info">
          <h2>Опис</h2>
          <hr>
          <h3>{{item.description}}</h3>
        </div>
      </a>
    </div>
  </div>
</div>
