
.title{
  font-size: 50px;
  font-weight: 500;
  color: #ffa827;
}
.line{
  height: 1px;
  color: #acacac;
  margin-top: 15px;
}
.myMenu{
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  font-size: 23px;
  color: #4a4a4a;
  text-decoration: none;
  padding: 5px 15px;
}
.myMenu:hover{
  text-decoration: none;
  color: #4a4a4a;
}

.myMenuItem{
  line-height: 1;
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
  padding: 5px 15px;
}
.myMenuItem:hover{
  text-decoration: none;
  color: #4a4a4a;
}

.myMenuItem:first-child {
  margin-left: 0;
}
.menu{
  width: 100%;
  float: left;
  margin-left: 80px;
  padding: 0px;
  list-style: none;
}
.mainMenuItem{
  width: 15%;
  float: left;
  margin-left: 2%;
  text-align: center;
}


.wrapper_announce{
  text-decoration: none;
  background: #ebebeb;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 418px;
  width: 322px;
  padding-top: 20px;
  position: relative;
  display: block;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  color: #464646;
}
.info{
  overflow-x:hidden;
  color: white;
  padding: 15px 20px;
  text-align: left;
  display: none;
}
.info hr{
  margin-bottom: 5px;
  color: white;
  border-color: white;
}
.wrapper_announce:hover{
  color: #464646;
  text-decoration: none;
}
.wrapper_announce:hover .info {
  display: block !important;
  top: 0;
  left: 0;
  position: absolute;
  height: 418px;
  width: 322px;
  font-size: 30px;
  background: rgba(250,186,80,0.75);
  text-decoration: none;
}
.wrapper_announce img{
  display: inline !important;
  border-radius: 100%;
  width: 75%;
  height: 60%;
}

.wrapper_announce h2{
  color: #17cf75;
  font-size: 32px;
}
.wrapper_announce h3{
  color: #464646;
  font-size: 26px;
}
.info h2{
  color: white;
  font-size: 28px;
}
.info h3{
  color: white;
  font-size: 20px;
}
