
.wrapper_form{
  margin-top: 70px;
}

@media screen and (min-width: 1200px) {
  .input_form{
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 45px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 25px;
  }


  .btn_form{
    background: #e4b560;
    border-radius: 40px;
    width: 230px;
    height: 44px;
    margin-left: 5px;
    border: none;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
  }
  .inputLabel{
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .input_form{
    padding-left: 10px;
    padding-right: 10px;
    width: 360px;
    height: 45px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 25px;
  }
  .btn_form{
    background: #e4b560;
    border-radius: 40px;
    width: 205px;
    height: 43px;
    margin-left: 5px;
    border: none;
    font-size: 23px;
    color: #fff;
    text-decoration: none;
  }
  .inputLabel{
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .input_form{
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 40px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .btn_form{
    background: #e4b560;
    border-radius: 40px;
    width: 190px;
    height: 40px;
    margin-left: 5px;
    border: none;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
  }
  .inputLabel{
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
  }

}
@media screen and (max-width: 480px) {
  .input_form{
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 35px;
    border-radius: 22px;
    outline: none;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 40px;
    font-size: 18px;
  }

  .btn_form{
    background: #e4b560;
    border-radius: 40px;
    width: 120px;
    height: 30px;
    margin-left: 5px;
    border: none;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
  }
  .inputLabel{
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
  }

}
.form-group{
  display: inline-block;
}

.btn_form:hover{
  text-decoration:none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
