<div *ngIf="isLoggedIn; else loggedOut">
  Ви вже авторизувались.
</div>
<ng-template #loggedOut>
  <section id="form">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md">
          <div class="wrapper_form text-right">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="username">Логін</label>
                  <input type="text" class="input_form form-control" name="username" id="username"
                         [(ngModel)]="form.username" #username="ngModel" required/>
                  <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required">Username is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="inputLabel" for="password">Пароль</label>
                  <input type="password" class="input_form form-control" name="password" id="password"
                         [(ngModel)]="form.password" #password="ngModel" required minlength="6"/>
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <button class="btn_form">Вхід</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      Login failed: {{errorMessage}}
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <a href="signup">
                      <div class="btn_form text-center" style="padding-left: 5px; padding-right: 10px;">
                        Зареєструватись
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
