<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <h1 class="text_form">Нове оголошення</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-6 ">
        <div class="wrapper">

          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel"> Тип оголошення </label>
                <select name="type" [(ngModel)]="form.type" class="form-control input_form">
                  <option *ngFor="let c of types" [value]="c">{{c}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="title">Назва</label>
                <input type="text" class="input_form form-control" name="title" id="title" [(ngModel)]="form.title"
                       #title="ngModel" required/>
                <div *ngIf="f.submitted && title.invalid">
                  <div *ngIf="title.errors.required">Назва є обов'язковим</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel"> Місто </label>
                <select class="form-control input_form" name="city" [(ngModel)]="form.city">
                  <option *ngFor="let c of cities" [value]="c">{{c}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="age">Вік тварини</label>
                <input type="number" class="input_form form-control" name="age" id="age" [(ngModel)]="form.age"
                       #age="ngModel" required/>
                <div *ngIf="f.submitted && age.invalid">
                  <div *ngIf="age.errors.required">Вік є обов'язковим</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="aType"> Тип тварини </label>
                <select name="aType" id="aType" [(ngModel)]="form.aType" (ngModelChange)="onChange($event)"
                        class=" form-control input_form">
                  <option *ngFor="let c of animalTypes" [value]="c">{{c}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="breed"> Порода </label>
                <select name="breed" id="breed" [(ngModel)]="form.breed"
                        class=" form-control input_form">
                  <option *ngFor="let c of breeds" [value]="c">{{c}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="price">Ціна</label>
                <input type="number" class="input_form form-control" name="price" id="price" [(ngModel)]="form.price"
                       #price="ngModel" required/>
                <div *ngIf="f.submitted && age.invalid">
                  <div *ngIf="price.errors.required">Ціна є обов'язковим</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <label class="inputLabel" for="description">Опис</label>
                <textarea placeholder="Опис" id="description" class="form-control" name="description" id="description"
                          [(ngModel)]="form.description" #description="ngModel"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-3 offset-lg-2 col-md">
                  <button class="btn_form">Додати</button>
                  <div *ngIf="f.submitted && isAddFailed" class="alert alert-warning">
                    Додати історію не вдалось!<br/>{{errorMessage}}
                  </div>
                  <div *ngIf="isAdded">
                    Ваше оголошення успішно додано!
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>


      </div>

    </div>
  </div>
</section>
