<div class="bg-footer">
  <div class="container">
    <div class="row ">
      <div class="col-lg-3 col-md-3">
        <p class="text_footer tx-alg">Всі права захищені © 2018</p>
      </div>

      <div class="col-lg-4 offset-lg-1 col-md-6 col-sm-10">
        <ul class="contact_links d-flex justify-content-md-center">
          <li class="contact_links-item ">
            <a href="#" target="_blank">
              <img src="assets/img/insta.png" class="links-item-icon">
            </a>
          </li>
          <li class="contact_links-item ">
            <a href="#" target="_blank">
              <img src="assets/img/twit.png" class="links-item-icon">
            </a>
          </li>
          <li class="contact_links-item">
            <a href="#" target="_blank">
              <img src="assets/img/fb.png" class="links-item-icon">
            </a>
          </li>
          <li class="contact_links-item">
            <a href="#" target="_blank">
              <img src="assets/img/mail.png" class="links-item-icon">
            </a>
          </li>

        </ul>
      </div>

      <div class="col-lg-4 col-md-3 hide">
        <p class="text_footer">Розроблено командою: FourPaws</p>
      </div>
    </div>
  </div>
</div>
<div id = "toTop" ><i class="fas fa-chevron-circle-up"></i></div>
