<section id="name">
  <div class="container">
    <div class="row">
      <div class=" col-lg-8 col-md-6 marg-bt ">
        <h1 class="name_h2 text-right marg-bt">
          {{announcement.title}}
        </h1>
      </div>
      <div class="col-md-3 offset-md-1 ">
        <p class="name_p marg-bt">
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="wrapper-slider">
          <div class="slider-for">
            <div><img src="assets/img/boy_and_dog2.png" alt=""></div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-md-6">
        <div class="table d-flex">
          <div class="col1" style="margin-right: 15px">
            <p>Вік: {{announcement.age}}</p>
            <p>Ціна: {{announcement.price}}</p>
            <p>Власник: {{announcement.firstName}} {{announcement.lastName}}  </p>

          </div>
          <div class="col2">
            <p>Порода: {{announcement.breed}}</p>
            <p>Місто: {{announcement.city}}</p>
            <p>Телефон: {{announcement.phone}} </p>
          </div>

        </div>

        <div class="text">
          <p class="col2 pdg">Опис</p>
          <hr>
          <p class="text_p">{{announcement.description}} </p>
        </div>
      </div>
    </div>

  </div>
</section>
