.sl_slide{
  width: 250px;
  margin-left: 12px;
  margin-top: 15px;
  text-align: center;
  align-items: center;
}
.sl_slide img{
  display: inline !important;
  border-radius: 100%;
  width: 291px;
  height: 291px;
}
.bg-color{
  background:rgb(172,172,172,0.3);
}

.title_story{
  margin-top: 35px;
  font-size: 50px;
  font-weight: 500;
}

.line_story{
  height: 1px;
  color: #acacac;
  margin-top: 15px;
}
.sl{
  margin-right: 20px;
  margin-left: 20px;
}
.btn_story{
  background: #e4b560;
  border-radius: 40px;
  padding: 4px 65px;
  border: none;
  color: #fff;
  margin-bottom:20px;
  margin-top: 15px;
}

.btn_story:hover{
  background: #dcaa50;

}
@media (min-width: 768px) {
  /* show 3 items */

  .title_galery{
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
  }

  .text_galery{
    font-size: 18px;

  }

  .btn_story span{
    width: 250px;
    font-size: 28px;
    font-weight: 500;
    display: inline-block;

  }
}
@media (min-device-width: 481px) and (max-device-width: 768px) {
  .title_galery{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
  }

  .text_galery{
    font-size: 15px;

  }
  .btn_story span{
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;

  }
}


@media (max-device-width: 480px) {
  .btn_story span{
    width: 100px;
    font-size: 10px;
    font-weight: 500;
    display: inline-block;

  }
  .title_galery{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
  }

  .text_galery{
    font-size: 10px;

  }
}
