<div id="navbar-my" class="sticky">
  <div class="container ">
    <nav class="navbar navbar-expand-lg ">
      <a routerLink="home" class="navbar-brand">
        <img src="assets/img/logo.png" width="200" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContend" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon" style="font-size:30px;color: #4a4a4a;"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item-my ">
            <a href="categories" class="nav-link-my">Оголошення</a>
          </li>
          <li class="nav-item-my menuItem">
            <a routerLink="home" [fragment]="'stories'" class="nav-link-my">Щасливі історії</a>
          </li>
          <li class="nav-item-my menuItem">
            <a routerLink="home" [fragment]="'animals'"  class="nav-link-my">Вибір тваринки</a>
          </li>
          <li class="nav-item-my " *ngIf="!authority" >
            <a routerLink="login" class="nav-link"><img src="assets/img/sign.png" height="50"></a>
          </li>
          <li class="nav-item-my " *ngIf="authority == 'admin'" >
            <a routerLink="admin" class="nav-link" >Admin</a>
          </li>
          <li class="nav-item-my " *ngIf="authority == 'user'" >
            <a routerLink="user" class="nav-link" >{{info.username}}</a>
          </li>
          <li class="nav-item-my " *ngIf="authority" >
            <a class="nav-link"><img src="assets/img/sign.png" (click)="logout()" height="50"></a>
          </li>
        </ul>
      </div>
    </nav>
    <hr>
  </div>
</div>
