body {
  background: #fff;
}

.careg_img {
  width: 85%;
}

.wrapper_announce {
  text-decoration: none;
  background: #ebebeb;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 450px;
  padding-top: 50px;
  position: relative;
  display: block;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  color: #464646;
}

.wrapper_announce:hover {
  font-size: 30px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.4s;
  transform: scale(1.2);
  background: rgba(250, 186, 80, 0.8);
  color: #464646;
  text-decoration: none;
}

.line:after {
  display: block;
  content: '';
  margin-top: -400px;
  margin-left: 365px;
  width: 1px;
  height: 470px;
  background: #363636;
}

.line:after {
  display: block;
  content: '';
  margin-top: -460px;
  margin-left: 365px;
  width: 1px;
  height: 470px;
  background: #363636;
}

.btn_add {
  background: #17cf75;
  padding: 7px 110px;
  border-radius: 40px;
  border: none;
  font-size: 28px;
  color: #fff;
  margin-top: 40px;
}

.btn_add:hover {
  background: #109b57;
  text-decoration: none;
}
