<section id="announce">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md ">
        <a [routerLink]="[categ1]" class="wrapper_announce  text-center ">
          <img src="assets/img/boy_and_dog.png" class="careg_img" alt="">
          <h2>Знайти друга</h2>
        </a>
      </div>

      <div class="col-lg-4 col-md ">
        <a [routerLink]="[categ2]" class="wrapper_announce  text-center ">
          <img src="assets/img/twocats.png" class="careg_img" alt="">
          <h2>Знайти пару<br>улюбленцю</h2>
        </a>
      </div>

      <div class="col-lg-4 col-md ">
        <a [routerLink]="[categ3]" class="wrapper_announce  text-center ">
          <img src="assets/img/dog_with_bag.png" class="careg_img" alt="">
          <h2>Бюро знахідок</h2>
        </a>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="authority == 'user'">
    <div class="row ">
      <div class="col text-center">
        <a class="btn_add " routerLink="/newAnnouncement">
          <span>Додати оголошення</span>
        </a>
      </div>
    </div>
  </div>
</section>
